$glyphfont-family   : "ico-font" !default;
$glyphfont-file     : "ico-font" !default;
$glyphfont-path     : "/fonts/" !default;

$glyphfont-prefix   : "ico-" !default;
$glyphfont-weight   : "normal" !default;
$glyphfont-style    : "normal" !default;

$glyphfont-generator: false !default;
$glyphfont-glyphs   : false !default;

// glyph icon font base
%glyphfont-base {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// font face declaration
@mixin glyphfont-face( 
    $family     : $glyphfont-family, 
    $filename   : $glyphfont-file, 
    $path       : $glyphfont-path, 
    $style      : $glyphfont-style, 
    $weight     : $glyphfont-weight 
) {
    @font-face {
        font-family: '#{$family}';
        src:url('#{$path}#{$filename}.eot?-rdntbb');
        src:url('#{$path}#{$filename}.eot?#iefix-rdntbb') format('embedded-opentype'),
            url('#{$path}#{$filename}.woff?-rdntbb') format('woff'),
            url('#{$path}#{$filename}.ttf?-rdntbb') format('truetype'),
            url('#{$path}#{$filename}.svg?-rdntbb##{$filename}') format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

// create catch-all rule for glyphfont
@mixin glyphfont-catch_all( $family, $prefix : $glyphfont-prefix ) {
    [class^="#{$prefix}"], [class*=" #{$prefix}"] {
        display: inline-block;
        font-family: '#{$family}';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

// attach a single icon to a css rule
@mixin glyphfont-icon( $name ) {
    &:before {
        font-family: $glyphfont-family;
        content: match( $glyphfont-glyphs, $name );
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @content;
    }
}

// include font and pass in options
@mixin glyphfont( 
    $family     : $glyphfont-family, 
    $prefix     : $glyphfont-prefix,
    $filename   : $glyphfont-file, 
    $path       : $glyphfont-path,
    $weight     : $glyphfont-weight, 
    $style      : $glyphfont-style, 
    $generate   : false
) {
    @include glyphfont-face(
        $family, 
        $filename, 
        $path, 
        $style, 
        $weight
    );
    
    @if $generate == true {
        @include glyphfont-catch_all( $family, $prefix );
        
        @if $glyphfont-glyphs != false {
            @each $glyph_name, $glyph_value in $glyphfont-glyphs {
                .#{$prefix}#{$glyph_name}:before {
                    content: "#{$glyph_value}";
                }
            }
        }
    }
}


// Import additional helpers
@import "icons/spin";


// /////// @font-face mixin
// // *-------------------------------------------------------------------------------
// $webfont_font_family: 'ico-fonts' !default;
// $webfont-file: 'ico-fonts' !default;
// $webfont_weight: normal !default;
// $webfont_style: normal !default;
// $webfont_directory: "/fonts/" !default;


// @mixin icon-font($font_family: $webfont_font_family, $font-file: $webfont-file, $font_weight: $webfont_weight, $font_style: $webfont_style, $webfont_directory: $webfont_directory ) {
//   @font-face {
//     font-family: '#{$font_family}';
//     font-style: $font_style;
//     font-weight: $font_weight;
//     src: url('#{$webfont_directory}#{$font-file}.eot');
//     src: url('#{$webfont_directory}#{$font-file}.eot?#iefix') format('embedded-opentype'),
//          url('#{$webfont_directory}#{$font-file}.woff') format('woff'),
//          url('#{$webfont_directory}#{$font-file}.ttf') format('truetype'),
//          url('#{$webfont_directory}#{$font-file}.svg##{$font-file}') format('svg');
//   }
// }



// $icon_font_alpha    : "ico-fonts" !default;
// $default_ico_margin : true !default;
// $icon_font_prefix   : "icon-" !default;

// /////// ico-fonts
// // *-------------------------------------------------------------------------------
// %ico-font-base {
//     speak: none;
//     font-style: normal;
//     font-weight: normal;
//     line-height: 1;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// @mixin icon( $pua, $name: $icon_font_alpha, $margin: $default_ico_margin ) {
//     &:before {
//         font-family: $name;
//         @extend %ico-font-base;
//         content: $pua;
//         @content;
//         @if $margin == true {
//             margin-right: 0.25em;
//         }
//     }
// }

// @mixin iconfont-generator( $glyphs, $name: $icon_font_alpha, $prefix: $icon_font_prefix ) {
//     [class^="#{$prefix}"], [class*=" #{$prefix}"] {
//         font-family: '#{$name}';
//         speak: none;
//         font-style: normal;
//         font-weight: normal;
//         font-variant: normal;
//         text-transform: none;
//         line-height: 1;

//         /* Better Font Rendering =========== */
//         -webkit-font-smoothing: antialiased;
//         -moz-osx-font-smoothing: grayscale;
//     }

//     @each $glyph_name, $glyph_value in $glyphs {
//         .#{$prefix}#{$glyph_name}:before {
//             content: "#{$glyph_value}";
//         }
//     }
// }